<!-- Footer section -->
<footer>
  <div class="container">
    <div class="row">

      <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1.3s">
        <h3>About the house</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
          tincidunt ut laoreet. Dolore magna aliquam erat volutpat ipsum.</p>
      </div>

      <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1.6s">
        <h3>Contact Detail</h3>
        <p>123 Delicious Street, San Francisco, CA 10110</p>
        <p>010-020-0780</p>
        <p>hello@company.com</p>
      </div>

      <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1.9s">
        <h3>Opening Hours</h3>
        <strong>Monday - Firday</strong>
        <p>11:00 AM - 10:00 PM</p>
        <strong>Saturday - Sunday</strong>
        <p>10:00 AM - 09:00 PM</p>
      </div>

    </div>
  </div>
</footer>