<!-- Video section -->
<section id="video" class="parallax-section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">

      <div class="col-md-offset-2 col-md-8 col-sm-12">
        <a class="popup-youtube" href="https://www.youtube.com/watch?v=j-_7Ub-Zkow"><i class="fa fa-play"></i></a>
        <h2 class="wow fadeInUp" data-wow-delay="0.5s">Watch the video</h2>
        <p class="wow fadeInUp" data-wow-delay="0.8s">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
      </div>

    </div>
  </div>
</section>