<!-- About section -->
<section id="about" class="parallax-section">
  <div class="container">
    <div class="row">

      <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
        <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
          <h2>Our Story</h2>
          <h4>Your Dining Restaurant since 1989</h4>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="wow fadeInUp col-md-3 col-sm-5" data-wow-delay="0.3s">
        <img src="src/assets/images/about-img.jpg" class="img-responsive" alt="About">
        <h3>Nunc ullamcorper suscipit neque, ac malesuada purus molestie non.</h3>
      </div>

      <div class="wow fadeInUp col-md-5 col-sm-7" data-wow-delay="0.5s">

        <!-- flexslider -->
        <div class="flexslider">
          <ul class="slides">

            <li>
              <img src="src/assets/images/gallery-img1.jpg" alt="Flexslider">
            </li>
            <li>
              <img src="ssrc/assets/images/gallery-img2.jpg" alt="Flexslider">
            </li>
            <li>
              <img src="src/assets/images/gallery-img3.jpg" alt="Flexslider">
            </li>

          </ul>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem
          ipsum dolor sit amet.</p>
      </div>

      <div class="wow fadeInUp col-md-4 col-sm-12" data-wow-delay="0.9s">
        <h2>Fine Dining</h2>
        <p>Steak House is free website template in HTML CSS for everyone. Please tell your friends about <a
            rel="nofollow" href="https://www.tooplate.com/free-templates" title="free templates">Tooplate</a> site.</p>
        <p>Vestibulum id iaculis nisl. Pellentesque nec tortor sagittis, scelerisque ante at, sollicitudin leo. Vivamus
          pulvinar a justo vel lobortis.</p>

        <ul>
          <li>Donec fringilla ipsum</li>
          <li>Integer nec urna</li>
          <li>Curabitur porta</li>
        </ul>
      </div>

    </div>
  </div>
</section>