<app-home></app-home>
<app-navigation-section></app-navigation-section>
<app-feature-section [features]="features" [featuresLoader]="featuresLoader"></app-feature-section>
<app-about-section></app-about-section>
<app-video-section></app-video-section>
<app-menu-section [menuItem]="menuItem"  [MenuLoader]="MenuLoader" ></app-menu-section>
<app-contact-section [contact]="contact"></app-contact-section>
<app-footer-section></app-footer-section>
<app-copyright-section></app-copyright-section>
<!-- <router-outlet></router-outlet> -->