<!-- Contact section -->
<section id="contact" class="parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
                <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
                    <h2>Say hello</h2>
                    <h4>we are always ready to serve you!</h4>
                </div>
                <div class="contact-form wow fadeInUp" data-wow-delay="0.7s">
                    <form id="contact-form" method="post" action="#">
                        <input  type="text" id="name" name="name" class="form-control" placeholder="Your Name" required [(ngModel)]="name">
                        <input type="email"  id="email" name="email"   class="form-control" placeholder="Your Email" required [(ngModel)]="email">
                        <textarea name="message" id="message" class="form-control" placeholder="Message" rows="5" [(ngModel)]="message"
                            required></textarea>
                        <input type="submit" class="form-control submit" value="SEND MESSAGE" (click)="send()">
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>